/* Default light mode styles */
body {
    background-color: white;
    color: black;
    /* other styles */
  }
  
  /* Dark mode styles */
  .dark-mode {
    background-color: darkslategray;
    color: white;
    /* other styles */
  }